<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Project</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Ubuntu+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="../dest/styles/main.min.css">
    </head>
    <body>
        <header class="header">
            <div class="center">
                <div class="header_line">
                    <a href="#" class="logo">english<span>TWINS</span></a>
                    <button class="btn">enroll for a lesson</button>
                    <nav class="nav">
                        <a class="nav_link" href="#">Home</a>
                        <a class="nav_link" href="#">Philosophy</a>
                        <a class="nav_link" href="#">Price</a>
                        <a class="nav_link" href="#">Feedbakcs</a>
                        <a class="nav_link" href="#">Contacts</a>
                    </nav>
                    <div class="soc">
                        <a href="#" class="icon-gmail"></a>
                        <a href="#" class="icon-instagram"></a>
                        <a href="#" class="icon-skype"></a>
                        <a href="#" class="icon-telegram"></a>
                        <a href="#" class="icon-telephone"></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content -->
        <section class="main">
            <div class="content">
                <img src="img/business.jpg" alt="" title="" class="content_img">
                <div class="content_text">
                    <h1 class="title title-big">Online English Teachers</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est architecto eos repudiandae odio assumenda, nemo natus quam odit quos, exercitationem aspernatur ipsam blanditiis omnis accusantium officia facere. Voluptates, id, est, aspernatur blanditiis rem perferendis ipsa eos doloribus cumque necessitatibus dolore dolorem eius, dicta cupiditate sunt. Minus accusantium ullam inventore eos, eaque accusamus hic velit voluptatem, expedita consequuntur et nobis ab iste repellendus rerum dolores quod itaque totam temporibus sequi ex fuga ea ratione suscipit. Ipsam odit molestias deleniti beatae libero molestiae ut repudiandae? Deserunt quos sequi et fugit animi quod quae sapiente recusandae debitis repellat, cum itaque, quia adipisci eius!</p>
                    <div class="content_column column">
                        <div class="column_item column_item--left">

                            <img src="img/business.jpg" alt="" title="" class="content_img">
                            <div class="content_title title-small">Lorem ipsum</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est architecto eos repudiandae odio assumenda, nemo natus quam odit quos, exercitationem aspernatur ipsam blanditiis omnis accusantium officia facere. Voluptates, id, est, aspernatur blanditiis rem perferendis ipsa</p>
                        </div>
                        <div class="column_item column_item--right">

                            <img src="img/business.jpg" alt="" title="" class="content_img">
                            <div class="content_title title-small">Lorem ipsum</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est architecto eos repudiandae odio assumenda, nemo natus quam odit quos, exercitationem aspernatur ipsam blanditiis omnis accusantium officia facere. Voluptates, id, est, aspernatur blanditiis rem perferendis ipsa</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="center">
                <div class="footer_line">
                    <p>© 2018 English Twins. Все права защищены.</p>
                </div>
            </div>
        </footer>
        <script src="../dest/js/main.min.js"></script>
        <script src="../dest/js/main.min.js"></script>
    </body>
</html>